.info__loc {
  font-weight: 500;
  margin: 0;
  width: 100%;
  background-color: #ededed;
  display: flex;
  align-items: center;
}

.info__loc i {
  margin-right: 20px;
  margin-left: 107px;
}

.info__discover {
  display: flex;
  background-color: #f7f7f7;
  font-size: 1.2em;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 300px;
}

.info__discover p {
  margin: 0 0 30px 0;
}

.info__step {
  display: flex;
  width: 85%;
  background: #f7f7f7;
  align-items: center;
  font-weight: 400;
  border-radius: 25px;
  box-shadow: 0px 6px 8px #d3d3d3;
  position: relative;
  margin: 22px auto;
  font-size: 0.8rem;
  padding: 9px 0;
}

.info__step i {
  margin-right: 20px;
  margin-left: 30px;
  font-size: 1.4em;
  color: #808080;
}

.info__step p {
  padding: 0px;
  font-size: 1.3em;
  font-weight: 500;
}

.info__step--mods {
  background-color: #f4eefc;
}

.info__step--mods i {
  color: #9356dc;
}

.info__number {
  position: absolute;
  font-size: 1.2em;
  box-shadow: none;
  left: -12px;
  width: auto;
  color: #ffffff;
  border-radius: 15px;
  background-color: #9356dc;
  padding: 2px 7px;
}

.info__btn {
  font-weight: 400;
  background: linear-gradient(-2deg, #9356dc, #ff79da);
  color: #ffffff;
  border-radius: 50px;
  padding: 15px 20px 15px 20px;
  box-shadow: 0px 6px 8px #d3d3d3;
}

@font-face {
  font-family: "shrikhand";
  src: url("../fonts/shrikhand/Shrikhand-Regular.otf");
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.4em;
  padding: 20px 0px 0px 20px;
}

h4 {
  font-size: 1.5em;
  padding: 45px 0px 5px 20px;
  margin: 0;
}

h5 {
  padding: 0;
  font-size: 1.1em;
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
  margin: 0 0 15px;
}

a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-size: 1.4em;
}

body {
  width: 100%;
  margin: 0 auto;
}

body a {
  color: #000000;
}

#container {
  width: 100%;
}

header {
  display: inline-block;
  width: 100%;
  margin-top: inherit;
  position: relative;
}

header i {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.2em;
}

header .logo {
  width: 100%;
  text-align: center;
  box-shadow: 0px 6px 8px #d3d3d3;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 8px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  color: #fff;
  width: 100%;
  align-items: flex-start;
}

footer nav {
  margin: 25px 25px 30px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  padding: 2px;
}

footer ul .link-mod {
  font-weight: 400;
}

footer ul i {
  font-size: 0.9em;
  margin-right: 10px;
}

footer ul p {
  font-weight: 500;
  margin: 0;
}

footer ul a {
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  margin: 70px 0 0 0;
}

.card__wrapper {
  width: 90%;
  border-radius: 15px;
  box-shadow: 0px 6px 8px #d3d3d3;
  margin: 10px auto;
}

.card__wrapper--last {
  margin-bottom: 70px;
}

.card__img {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
  box-shadow: none;
  object-fit: cover;
  margin: 0;
}

.card__cap {
  display: flex;
  justify-content: space-between;
}

.card__cap div {
  margin: 10px 0px 15px 15px;
}

.card__cap span {
  margin: 5px 10px 0px 0px;
  font-size: 1.7em;
}

.card__name {
  font-size: 1.2em;
  margin: 0px 0px 0px 0px;
}

.card__name--bold {
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */