//pour le systeme de like
@keyframes heartfill {
  0% {
    transform: scale(0);
  }
  17% {
    transform: scale(0.18);
  }
  24% {
    transform: scale(0.4);
  }
  46% {
    transform: scale(0.81);
  }
  100% {
    transform: scale(1);
  }
}
//pour l'anim d'arrivée des plats
@keyframes menuitem {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
//loading spinner
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
//pour l'apparition du spinner
@keyframes starter {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
