$pri-color: #9356dc; //couleur primaire du site
$sec-color: #ff79da; //couleur secondaire
$ter-color: #99e2d0; //couleur tertiaire
$lbg: #f7f7f7; // fond gris clair
$dbg: #ededed; //fond gris foncé de la partie localisation
$card-rad: 15px; //border radius des cartes de restaurant
