.spinner {
  height: 100%;
  width: 100%;
  background-color: #fff;
  cursor: progress;
  position: fixed;
  z-index: 10000;
  transform: scale(0);
  opacity: 0.9;
  animation: starter 3s;
  &::before {
    animation: loader 1500ms infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -30px;
    content: "";
    color: #000;
    height: 10vh;
    width: 10vh;

    opacity: 1;
    z-index: 10500;
    border-radius: 50%;
    border-top: solid 5px $ter-color;
    border-bottom: solid 5px $ter-color;
    border-left: solid 5px $sec-color;
    border-right: solid 5px $sec-color;
  }
}
.info {
  &__loc {
    font-weight: 500;
    margin: 0;
    width: 100%;
    background-color: $dbg;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      margin-right: 20px;
    }
  }
  &__discover {
    display: flex;
    background-color: $lbg;
    font-size: 1.2em;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 300px;
    p {
      margin: 0 0 30px 0;
    }
  }
  //fonctionnement du sitre en 3 étapes
  &__step {
    display: flex;
    width: 85%;
    background: $lbg;
    align-items: center;
    font-weight: 400;
    border-radius: 25px;
    @include box-shadows;
    position: relative;
    margin: 22px auto;
    font-size: 0.8rem;
    padding: 9px 0;
    i {
      margin-right: 20px;
      margin-left: 30px;
      font-size: 1.4em;
      color: #808080;
    }
    p {
      padding: 0px;
      font-size: 1.3em;
      font-weight: 500;
    }
    //modifie la couleur de l'étape 3
    &--mods {
      background-color: lighten($pri-color, 36);
      i {
        color: $pri-color;
      }
    }
  }
  &__number {
    //Numero des étapes d'utilisation
    position: absolute;
    font-size: 1.2em;
    box-shadow: none;
    left: -12px;
    width: auto;
    color: #ffffff;
    border-radius: (15px);
    background-color: $pri-color;
    padding: 2px 7px;
  }
}
