.h-menu {
  box-shadow: none;
}
.menu-img-1 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  @include bg-placement;
}
.art-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $lbg;
  border-radius: 50px 50px 0 0;
  margin-top: -45px;
  position: relative;
  @include like;
  h2 {
    @include ohmy;
    font-size: 1.5em;
    padding: 25px 10px 0px 20px;
    margin: 0;
    white-space: nowrap;
  }
  .stages {
    font-size: 1em;
    font-weight: 300;
    padding: 0 0 0 10px;
    margin: 10px;
    position: relative;
    &::after {
      content: "";
      width: 40px;
      height: 3px;
      background-color: $ter-color;
      position: absolute;
      left: 10px;
      top: 22px;
    }
  }
  .plates {
    @include box-shadows;
    border-radius: 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 20px auto;
    &__ns-wrapper {
      padding: 0;
      margin: 0;
    }
    &__name {
      font-weight: 500;
      font-size: 0.9em;
      @include text-no-wrap;
      padding: 10px 0 0 10px;
      white-space: nowrap;
    }
    &__spec {
      font-size: 0.8em;
      @include text-no-wrap;
      padding: 5px 0px 10px 10px;
    }
    &__price {
      font-weight: 500;
      margin: 0;
      padding: 35px 20px 0 15px;
    }
  }
}
