.h-menu {
  box-shadow: none;
}
.menu-img-1 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  @include bg-placement;
}
.art-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $lbg;
  border-radius: 50px 50px 0 0;
  margin-top: -45px;
  position: relative;
  @include like;
  h2 {
    @include ohmy;
    font-size: 1.5em;
    padding: 25px 10px 0px 20px;
    margin: 0;
  }
  .stages {
    font-size: 2.6vh;
    font-weight: 300;
    padding: 0 0 0 20px;
    margin: 10px;
    position: relative;
    &::after {
      content: "";
      width: 35px;
      height: 3px;
      background-color: $ter-color;
      position: absolute;
      left: 20px;
      top: 22px;
    }
  }
}
