.card {
  display: flex;
  flex-direction: column;
  background-color: $lbg;
  margin: 70px 0 0 0;
  @include like;
  &__wrapper {
    //englobe tout le contenu de la carte
    position: relative;
    width: 90%;
    border-radius: $card-rad;
    background-color: #fff;
    @include box-shadows;
    margin: 10px auto;
    &--last {
      //marge du bas plus grande pour la derniére carte
      margin-bottom: 70px;
    }
    &--new {
      &::after {
        content: "Nouveau";
        color: darken($ter-color, 40);
        width: 73px;
        height: 20px;
        background-color: #99e2d0;
        position: absolute;
        right: 15px;
        top: 22px;
        border-radius: 2px 2px 2px 2px;
        padding: 7px 0 2px 0px;
        font-size: 0.9em;
        font-weight: bold;
        text-align: center;
      }
    }
  }
  &__img {
    //image de la carte
    width: 100%;
    height: 170px;
    border-radius: 15px 15px 0 0;
    box-shadow: none;
    object-fit: cover;
    margin: 0;
  }
  &__cap {
    //englobe le texte et l'icône de la carte
    display: flex;
    justify-content: space-between;
    div {
      margin: 10px 0px 15px 15px;
    }
    span {
      margin: 5px 10px 0px 0px;
      font-size: 1.7em;
      color: $pri-color;
    }
  }
  &__name {
    //nom du restaurant et localisation
    font-size: 1.1em;
    margin: 0px 0px 0px 0px;
    &--bold {
      //version bold pour nom du restaurant
      font-weight: 500;
      font-size: 1.2em;
    }
  }
}
