.info__btn {
  // bouton explorer nos restaurant de la page principale
  font-weight: 400;
  background: linear-gradient(-2deg, $pri-color, $sec-color);
  color: #ffffff;
  border-radius: 50px;
  padding: 15px 45px 15px 45px;
  @include box-shadows;
  align-self: center;
  font-weight: 500;
}
