body {
  width: $g-width;
  margin: 0 auto;
}
#container {
  width: $g-width;
}
header {
  display: inline-block;
  width: $g-width;
  margin-top: inherit;
  position: relative;
  @include box-shadows;
  i {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2em;
  }
  .logo {
    width: $g-width;
    text-align: center;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 8px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: lighten(#000000, 20);
  color: #fff;
  width: $g-width;
  align-items: flex-start;
  nav {
    margin: 25px 25px 30px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 2px;
    }
    .link-mod {
      font-weight: 400;
    }
    i {
      height: 20px;
      width: 20px;
      font-size: 0.9em;
      margin-right: 5px;
    }
    p {
      font-weight: 500;
      margin: 0;
    }
    a {
      color: #fff;
    }
  }
}
