@media only screen and (min-width: 900px) {
  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__loc {
      width: 100%;
    }
    &__discover {
      width: 50%;
      padding: 32px 0px;
    }
    &__rules {
      width: 50%;
      background: $lbg;
      h3 {
        margin: auto;
      }
    }
  }
  .card {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-top: auto;
    h4 {
      width: 90%;
    }
    &__wrapper {
      width: 45%;
      margin: 20px auto 20px auto;
    }
  }
  .art-wrapper {
    h2 {
      padding-left: 130px;
    }
    .stages {
      padding-left: 125px;
      &::after {
        left: 125px;
      }
    }
    .plates {
      width: 75%;
      &:hover {
        & > .plates__ns-wrapper {
          width: auto;
        }
      }
      &__name {
        font-size: 1em;
      }
      &__spec {
        font-size: 0.8em;
      }
    }
  }
}
