@font-face {
  font-family: "shrikhand";
  src: url("../fonts/shrikhand/Shrikhand-Regular.otf");
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
}
h2 {
  font-size: 1.4em;
}
